@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 95%;
  margin: 0 auto;
}

body {
  background: rgb(227, 247, 241);
}

/* classes */

section {
  width: 100%;
  margin-top: 3rem;
}

.title-logo {
  font-size: clamp(1.5rem, 3vw + 0.7rem, 2.3rem);
  font-weight: 600;
  background: #000;
  background-image: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.title-a {
  font-size: clamp(1.5rem, 3vw + 1rem, 4.5rem);
  font-weight: 600;
  background: #000;
  background-image: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.title-b {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 3.5rem);
  font-weight: 600;
  background: #000;
  background-image: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-a {
  color: #fff;
  font-size: clamp(1rem, 1.3vw + 0.9rem, 1.8rem);
  background: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  border-radius: 40px;
  padding: 1rem;
  justify-content: flex-start;
}

.btn-1 {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 3.5rem);
  background-image: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  color: #fff !important;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  border-radius: 20px;
}

.mini-max-img {
  width: 20rem;
  height: 15rem;
  border-radius: 12px;
  overflow: hidden;
}

.mini-max-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 1em;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  border-radius: 100vw;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100vw;
  border: 0.2em solid #16b379;
}

/* header */

header {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 5px 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transition: 0.6s;
  border-radius: 0 0 20px 20px;
}

.navigation {
  position: relative;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  user-select: none;
}

.menu-item > a {
  color: #000;
  font-size: clamp(1rem, 1vw + 0.5rem, 2rem);
  margin-left: 55px;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.menu-item .sub-menu {
  position: absolute;
  background: #fff;
  top: 54px;
  line-height: 30px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  pointer-events: none;
  transform: translateY(15px);
  opacity: 0;
  transition: all 0.7s ease;
}

.menu-item:hover .sub-menu {
  pointer-events: all;
  transform: translateY(1px);
  opacity: 1;
}

.menu-item .sub-menu .sub-item {
  position: relative;
  padding: 7px 0;
  cursor: pointer;
}

.menu-item .sub-menu .sub-item a {
  display: block;
  color: #000;
  font-size: clamp(0.8rem, 1.2vw + 0.5rem, 1.8rem);
  padding: 10px 20px;
}

.menu-item .sub-menu .sub-item:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.menu-btn {
  display: none;
}

/* footer */

footer {
  width: 100%;
  background: linear-gradient(90deg, #16b379, #20ac3c, #1e8a34, #076a1b);
  border-radius: 80px 80px 0 0;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  bottom: 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.33%;
  justify-content: space-between;
  align-items: first baseline;
  width: 87%;
  margin: 0 auto;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-socials {
  width: 100%;
}

.footer-col h1 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.7rem;
}

.footer-col h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.footer-socials a div {
  width: 40px;
  height: 40px;
}

.footer-socials a div img {
  width: 100%;
  height: 100%;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.7rem;
  gap: 0.5rem;
}

/* media queries */

@media only screen and (max-width: 2000px) {
  .sub-btn,
  .menu-item a,
  .sub-item a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-col h1 {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 5px 15px;
  }

  header .navigation .menu {
    position: fixed;
    display: block;
    background: #fff;
    min-width: 250px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 40px 20px;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
  }

  header .navigation .menu.active {
    right: 0;
    visibility: visible;
  }

  .menu-item {
    position: relative;
  }

  .menu-item .sub-menu {
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(10px);
    background: #e3e9f7;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    width: 220px;
  }

  .menu-item .sub-menu .sub-item a {
    margin: 0 1rem;
    padding: 0;
    font-size: 1.4rem;
  }

  .menu-item:hover .sub-menu {
    transform: translateX(10px);
  }

  .menu-item .sub-menu .sub-item {
    box-shadow: none;
  }

  .menu-item .sub-menu .sub-item:hover {
    background: none;
  }

  .menu-item a {
    display: block;
    padding: 0;
    margin: 0.7rem;
  }

  .sub-btn {
    cursor: pointer;
  }

  .close-btn {
    position: absolute;
    background: url(/icons/close.png) center/cover no-repeat;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-position: center;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
  }

  .menu-btn {
    background: url(/icons/menu.png) center/cover no-repeat;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  /* header */

  .menu-item > a {
  font-size: 1.3rem;
}

  .menu-item .sub-menu .sub-item a {
  font-size: 1.1rem;
}

  header .navigation .menu {
    width: 220px;
  }

   .menu-item .sub-menu {
    width: 185px;
  }

   .close-btn {
    width: 30px;
    height: 30px;
  }
  
  /* footer */
  footer {
    border-radius: 50px 50px 0 0;
  }

  .footer-col h1 {
    font-size: 1.7rem;
    font-weight: 400;
  }

  .footer-col h2 {
    font-size: 1.2rem;
  }

  .footer-socials a div {
    width: 30px;
    height: 30px;
  }
}
